@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color-light: #FD853A;
  --primary-color-medium: #FB6514;
  --primary-color-dark: #EC4A0A;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Quicksand, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* font-weight: bold; */
}

a {
  color: inherit;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

.input-text {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
font-weight: 500;
}

.input-placeholder::-webkit-input-placeholder {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
font-weight: 600
}

.address-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 40ch;
}

.input-placeholder:-ms-input-placeholder {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  font-weight: 600
}

.input-placeholder:-moz-placeholder {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
font-weight: 600
}

.input-placeholder::-moz-placeholder {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
font-weight: 600
}

.poly-btn {
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    text-decoration: none;
    height: 40px;
    display: inline-flex;
    color: white;
    font-weight: 800;
    border: 1px solid #eeee;
    border-radius: 8px;
    line-height: 40px;
    transition: background 0.25s ease-in-out, color 0.25s ease-in-out;
    background-color: #FB6514;
}

.poly-btn-inverted {
    background-color: white;
    color: #FB6514;
}

.poly-btn > img {
    overflow: hidden;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.poly-btn-text {
    margin-left: 5px;
    margin-right: 10px;
}

.poly-btn:hover {
    background-color: #EC4A0A	;
}

.poly-btn-inverted:hover {
    background-color: #f1f1f1;
}

a {
  transition: all
}

a:hover {
  color: var(--primary-color-medium)
}

.buyHomePage {
  display: inline
}
label.smtext-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

@media (max-width: 500px) {
  .buyHomePage {
  display: block
}
.logo {
  display: none
}
}

@media (max-width: 420px) {
  body {
    font-size: 13px
  }

  
  .homepageInput {
    width: 8.5rem;
  }

  
}

@media (max-width: 370px) {
  body {
    font-size: 12px
  }

  .homepageInput {
    width: 7rem;
  }

  label.smtext-2xl {
  font-size: 1.2rem;
  line-height: 1.5rem
}
  
}


@media (max-width: 330px) {
  body {
    font-size: 11px
  }

  .homepageInput {
    width: 6rem;
  }

  
}

.homepageInput {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
font-weight: 600;
}


.typewrite {
        white-space: nowrap;
        overflow: hidden;
        transition: none;
        animation: typewriter infinite alternate,
          blink 400ms infinite normal;
        border-right: 5px solid black;
      }

      @keyframes typewriter {
        0% {
          width: 0%;
        }
        100% {
          width: 100%;
        }
      }
      @keyframes blink {
        0% {
          border-color: black;
        }
        100% {
          border-color: transparent;
        }
      }

.Typewriter {
  display: inline-block;
}



.text-5xl {
  font-size: 3rem;
  line-height: 4rem
}

@media (max-width: 640px) {
  body {
    font-size: 14px
  }
  .text-5xl {
    font-size: 2rem;
    line-height: 2.25rem
  }
  .input-text {
    font-weight: 500;
  }

  .smtext-2xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}
.address-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 25ch;
}




  .input-placeholder::-webkit-input-placeholder {
font-weight: 500
}

.input-placeholder:-ms-input-placeholder {
  font-weight: 500
}

.input-placeholder:-moz-placeholder {
font-weight: 500
}

.input-placeholder::-moz-placeholder {
font-weight: 500
}

}

.script-textarea {
  resize: none;
  width: 500px;
  height: 100px;
  overflow: hidden;
  outline: none;
}

.poly-btn {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  text-decoration: none;
  height: 40px;
  display: inline-flex;
  color: white;
  font-weight: 800;
  border: 1px solid #eeee;
  border-radius: 8px;
  line-height: 40px;
  transition: background 0.25s ease-in-out, color 0.25s ease-in-out;
  background-color: #FB6514;
}

.poly-btn-inverted {
  background-color: white;
}

.poly-btn > img {
  overflow: hidden;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.poly-btn-text {
  margin-left: 5px;
  margin-right: 10px;
  color: white;
}

.poly-btn-inverted > .poly-btn-text {
  color: #FB6514;
}

.poly-btn:hover {
  background-color: #EC4A0A	;
}

.poly-btn-inverted:hover {
  background-color: #f1f1f1;
}
